body {
  font-family: Arial, Verdana, sans-serif;
  text-align: center;
  font-size: medium;
  background-color: #ffffff;
  color: #146470;
}

nav {
  background-color: #146470;
  padding: 10px 0;
  text-align: center;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 20px;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  color: #146470;
}

#jacket-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  margin: 0 auto;
  list-style-type: none;
}

#jacket-list li {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: transform 0.3s ease-in-out;
}

#jacket-list li:hover {
  transform: translateY(-5px);
}

.logo-image {
  width: 100%;
}

.logo {
  max-width: 300px;
  margin-bottom: 20px;
}

img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.socials-image {
  max-width: 150px;
  height: auto; 
}

.payment-image {
  max-width: 250px;
  height: auto; 
}

.loading-indicator {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3a83b3;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
