body {
  font-family: Arial, Verdana sans-serif;
  text-align: center;
  text-decoration-color: #3fa3a7;
  text-decoration-color: #3fa3a7;
  h1 {color: #326572;}
  background-color: rgba(255, 166, 0, 0);
  font-size: large;
  font-stretch: expanded;
}
  

/* styles.css | file:///C:/Users/anita/OneDrive/Dokumenter/GitHub/Rainydays/css/styles.css */


      
main {
background-color: #d6e6ea;
}

IMG.bakgrunn image {
display: block;
margin-left: auto;
margin-right: auto }


/* Inline #1 | file:///C:/Users/anita/OneDrive/Dokumenter/GitHub/Rainydays/index.html */


.logo-image {
width: 100%;
}

.logo {
max-width: 300px;
}

img {
width: 100%;
}


/* Element | file:///C:/Users/anita/OneDrive/Dokumenter/GitHub/Rainydays/mens.html */

body > main:nth-child(3) > section:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
}

/* Inline #1 | file:///C:/Users/anita/OneDrive/Dokumenter/GitHub/Rainydays/mens.html */

.media {
  flex: 1 0 300px;
}

.loading-indicator {
  border:16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

